#center-content{
  color: #4C516D;
  margin: 7%;
  .content-two,
  .content-three,
  {
    font-size: 35px;
    span{
      color: #728ff9;
    }
  }
  .learn-more{
    width: 100px;
    height: 40px;
    border-radius: 30px;
  }
}
