<div id="our-features">
  <div class="header">
    <div class="our-features-header">
      OUR FEATURES
    </div>
    <div class="some-of-our-advantages">
      SOME OF OUR ADVANTAGES
    </div>
  </div>
  <div class="features-numbers">
    <div class="row-1">
      <div class="text-one">
        <div class="header-number">01.</div>
        <div class="header-header">Fast. Accuracy. Reliable</div>
        <div class="header-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s.
        </div>
      </div>
      <div class="text-two">
        <div class="header-number">02.</div>
        <div class="header-header">Follow the deadline</div>
        <div class="header-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s.
        </div>
      </div>
      <div class="text-three">
        <div class="header-number">03.</div>
        <div class="header-header">Expert staff</div>
        <div class="header-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s.
        </div>
      </div>
    </div>
    <div class="row-2">
      <div class="text-four">
        <div class="header-number">04.</div>
        <div class="header-header">Leading the industry</div>
        <div class="header-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s.
        </div>
      </div>
      <div class="text-five">
        <div class="header-number">05.</div>
        <div class="header-header">Modern facilities</div>
        <div class="header-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s.
        </div>
      </div>
      <div class="text-six">
        <div class="header-number">06.</div>
        <div class="header-header">Best price ever</div>
        <div class="header-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s.
        </div>
      </div>
    </div>
  </div>
</div>
