<div id="id-app-map">
  <div class="app-map-header header-family">ENJOY COFFEE WITH US</div>
  <div>
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
  <div class="contact-details">
    <div class="contact-mail">
      <div class="contact-mail-header">
        <div class="contact-mail-header-one header-family">WRITE</div>
        <div class="contact-mail-header-two header-family">US</div>
      </div>
      <div class="contact-mail-id">
        <div class="head-office-header header-family">HEAD OFFICE</div>
        <div class="head-office-mail-id">HEAD@gmail.com</div>
        <div class="support-header header-family">SUPPORT </div>
        <div class="support-mail-id">support@gmail.com</div>
      </div>
    </div>
    <div class="contact-number">
      <div class="contact-number-header">
        <div class="header-one header-family">CALL</div>
        <div class="header-two header-family">US</div>
      </div>
      <div class="contact-number-header">
        <div class="head-office-header header-family">HEAD OFFICE</div>
        <div class="head-office-number">+1 (777) - 777 - 7777</div>
        <div class="support-header header-family">SUPPORT</div>
        <div class="support-number">+1 (777) - 777 - 7777</div>
      </div>
    </div>
    <div class="office-address">
      <div class="contact-address-header">
        <div class="office-address-header header-family">VISIT</div>
        <div class="office-address-header header-family">US</div>
      </div>
      <div class="contact-address-details">
        <div class="contact-address">7340 Calle Cristobal</div>
        <div class="contact-address">Unit #90</div>
        <div class="contact-address">San Diego-CA-92126</div>
      </div>
    </div>
  </div>
</div>
